/** costomise boostrap */

$border: 1px solid #adb5bd;

@import "~bootstrap/scss/bootstrap";

/* app style*/
body,
html {
    font-family: -apple-system, "Montserrat", "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    position: relative;
    width: 100%;
    min-height: 100%;
}

.App {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sl-4 {
    margin-left: 45px;
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    &-group {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        label {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            margin: 0;
        }
    }
}

.btn-close {
    display: flex;
    padding: 10px;
    line-height: 1;
    align-items: center;
    justify-content: center;
}

.thread {
    &-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;
    }

    &-img {
        height: 30px;
        width: 30px;
        margin-right: 15px;
        display: flex;

        img {
            height: 30px;
            width: 30px;
            border-radius: 4px;
        }
    }

    &-header {
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-grow: 1;

        i {
            margin-left: 5px;
            font-size: 20px;
            font-weight: 600;
            color: #c8c6c6;
        }
    }

    &-reply {
        display: flex;
        font-weight: 400;
        color: #c8c6c6;
        margin-bottom: 10px;
    }
    &-indicator {
        width: 30px;
        height: 30px;
        padding: 0 0 5px 5px;
        margin-right: 5px;
        margin-left: 5px;

        img {
            width: 25px;
            height: 20px;
        }
    }
}

.navbar {
    background-color: #2196f3;
    display: flex;
    align-items: center;
    justify-content: center;
    &-text {
        color: #fff;
        font-weight: 600;
        letter-spacing: 2px;
    }
}
